# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
debug.log
error.log

# Node / Composer (if used later)
node_modules/
vendor/

